

    <style>
    body {
        margin:0;
        padding:0 !important;
        
      }

      .big-container {
        left: 0 !important;
      }
      
      .hero{
        position:absolute;
        height:100vh;
        width:100vw;
        left: 0;
        top: 0;
        display:flex;
        justify-content:center;
        align-items: center;
      }
      
      .hero::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: url(https://wallpaperaccess.com/full/135973.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center center;
        filter:brightness(60%);
        
      }
      
      .hero-content{
        position: relative;
        font-family: "Monserrat", sans-serif;
        color: #333;
        text-align: center;
        margin: 0.625rem;
        
      }
      
      .hero-title {
         font-size: 3rem;
         font-weight: 600;
         margin-bottom: 0;
      }
      .hero-subtitle {
         font-size: 2rem;
         font-weight: 200;
         margin-top: 1rem;
      }
      .hero-button {
         background-color: #3291AA;
         color: white;
         border: 1px solid #5ab6ce;
         margin-top: 5rem;
         padding: 0.9375rem1.875rem;
         font-family: "Monserrat", sans-serif;
         font-size: 1.125rem;
         font-weight: 200;
         cursor: pointer;
      }
      .hero-button:hover {
         background-color: #5ab6ce;
         border: 1px solid #3291AA;
      }
    </style>
    <section class="hero">
    <div class="hero-content" style="border-radius: 10px; width: 100vw; box-shadow: 0 10px 10px #333; background: #eeeeeeca; padding: 10px">
      <h2 class= "hero-title" style="font-family: 'Rubik', sans-serif;">
        Job Backerei
      </h2>
      <h2 class="hero-subtitle" style="font-family: 'Amatic SC', cursive; color: #000">
        "The best way to predict the future is to create it." —Abraham Lincoln
      </h2>
      <div class="container">
      <div class="row">
        <%= render 'base/btngroup'%>
        </div>
        <div class="col-sm">
        <button style="width: 10vw" type="button" class="btn btn-primary" onclick="window.location = '/jobs'" >
          Search for jobs
        </button>
        </div>
      </div> 
      <% if !current_user %>
        <hr/>
        <%= link_to('Login', new_user_session_path, class:"right") %>
        <style> .right { float: right } </style> 
      <% end %>
    </div>
    </div>
  </section>    